@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 100vw;
  margin-block: 0.4rem;
}

::-webkit-scrollbar-thumb {
  background: rgb(8, 145, 178);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(14, 116, 144);
}
